<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Homepage</title>
</head>

<body>
    <h1>Welcome to Image Processing Tool</h1>
    <p>Select an image and one of the given operations, then click on the upload button.</p>
    <p style="color: red;">
        <%= message %>
    </p>
    <br>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadedFile">
        <select name="operation">
            <option value="unblur">Unblur</option>
            <option value="denoise">Denoise</option>
            <option value="upscale">Upscale</option>
            <option value="downscale">Downscale</option>
        </select>
        <button type="submit">Upload</button>
    </form>
    <p>This is an open source application. <a href="https://github.com/adeebjamal/Image_Tool">Source code</a></p>
    <p>The files uploaded by the user are not stored on server or anywhere else.</p>
    <p>NOTE: The unblur feature utilizes Gaussian blur. It may not produce satisfactory results for every image.</p>
</body>
<footer>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            /* Ensures full viewport height */
            margin: 0;
        }

        form {
            margin-top: 20px;
            padding: 20px;
            border: 1px solid;
            border-radius: 10px;
        }

        p {
            margin-bottom: 10px;
        }

        select,
        input {
            margin-bottom: 10px;
        }

        a {
            color: #007BFF;
        }
    </style>
</footer>

</html>